.manual-entry-form {
	.form-group {
		margin-bottom: 25px;
	}
	.completed {
		display: flex;
		flex-direction: row;
		input {
			height: 20px;
			width: 20px;
			margin-left: 15px;
		}
		p {
			margin: 0;
		}
	}
  button {
		border: none;
		padding: 10px 35px;
		background: red;
		border-radius: 0;
		color: white;
  }
}