.landing {
	.top-section {
		position: absolute;
		left: 0;
		right: 0;
		background: none;
		h1 {
			font-size: 68px;
		}
		nav {
			ul {
				.dashboard-link {
					a {
			    	border-radius: 2px;
			    	border: 1px solid rgba(255,255,255,0.67);
			    	padding: 12px;
			    	font-size: 12px;
			    	@media (max-width: 769px) {
							border: none;
						}
					}
					@media (max-width: 769px) {
						margin: 0;
					}
				}
				@media (max-width: 769px) {
					padding: 0;
				}
			}	
		}
		@media (max-width: 769px) {
			flex-direction: column;
		}
	}

	.hero-section {
	  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('/hero-section.jpg');
	  background-repeat: no-repeat;
	  background-size: cover;
	  height: 659px;
	  width: 100%;
	  padding: 70px;
	  display: flex;
	  h2 {
	  	font-family: 'Habibi', serif;
	  	margin: auto 0 0 auto;
	  	font-weight: normal;
	  	width: 50%;
	  	font-size: 60px;
	  	color: white;
	  	@media (max-width: 769px) {
	  		width: 100%;
	  		font-size: 40px;
	  	}
	  }
	  @media (max-width: 769px) {
	  	padding: 20px 20px 60px 20px;
	  }
	}

	.how-it-works {
		.inner-wrapper {
			.how-title {
				text-align: center;
				position: relative;
				&:after {
					content: '';
			    width: 90px;
			    height: 2px;
			    background-color: #000;
			    position: absolute;
			    display: block;
			    left: calc(50% - 45px);
			    top: 35px;
				}
			}
			.hiw-row {
				display: flex;
				flex-direction: row;
				margin-top: 60px;
				@media (max-width: 769px) {
					flex-direction: column;
				}
				.hiw-box {
					line-height: 1.5;
			    letter-spacing: 0.2px;
			    text-align: center;
			    color: #252525;
			    flex: 1;
			    padding-left: 30px;
			    padding-right: 30px;
					.number-bubble {
				    background-color: #000;
				    border-radius: 50%;
				    height: 45px;
				    width: 45px;
				    color: #fff;
				    line-height: 45px;
				    text-align: center;
				    font-size: 28px;
				    font-family: "Playfair", "PlayfairDisplay", serif;
				    display: inline-block;
				    margin-bottom: 11px;
					}
				}
			}
		}
	}
	.cta {
		.cta-box {
			display: flex;
			background-color: #f5f5f2;
			@media (max-width: 769px) {
				flex-direction: column;
			}
			.section-left {
				background: url('/ready-to-start.jpg');
				min-height: 280px;
				background-repeat: no-repeat;
				flex: 1;
				@media (max-width: 769px) {
					min-height: 190px;
					background-size: cover;
				}
			}
			.section-right {
				display: flex;
		    align-items: center;
		    flex-direction: column;
		    flex: 1 1;
		    justify-content: center;
		    @media (max-width: 769px) {
		    	padding: 20px;
		    }
				h3 {
					font-family: 'Muli', sans-serif;
					margin: 0;
				}
				p {
					margin: 30px 0;
				}
		    button {
					border: none;
					padding: 15px 55px;
					background: red;
					border-radius: 0;
					color: white;
		    }
			}
		}
	}
}