.select-input {
	position: relative;
	&:after {
	  content: '';
	  transform: rotate(-45deg);
	  position: absolute;
	  right: 12px;
	  bottom: 44%;
	  display: block;
	  width: .5em;
	  height: .5em;
	  border: 2px solid black;
	  border-top: none;
	  border-right: none;
	  z-index: 99999999;
	}
}
select {
	border: none;
	outline: none;
  appearance: none;
  padding: 10px;
  border-radius: 0;
  background: #dddddd;
	margin-bottom: 15px;
	font-size: 14px;
	width: 100%;
}