.manual-entry {
	background: #f5f5f2;
	.inner-wrapper {
		display: flex;
		flex-direction: row;
		> * {
			width: 50%;
			@media (max-width: 769px) {
				width: 100%;
			}
		}
		@media (max-width: 769px) {
			flex-direction: column;
		}
	}
}