.app {
  height: 100vh; }
  .app .login {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between; }
    .app .login .login-area {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #dde2e6; }
      .app .login .login-area .inner-wrapper {
        width: 100%; }
        .app .login .login-area .inner-wrapper .login-group {
          background-color: #f5f5f2;
          padding: 20px 10px;
          border-radius: 5px;
          width: 65%;
          margin: 0 auto; }
          @media (max-width: 769px) {
            .app .login .login-area .inner-wrapper .login-group {
              width: 100%; } }
          .app .login .login-area .inner-wrapper .login-group .login-header {
            margin: 10px 0; }
            .app .login .login-area .inner-wrapper .login-group .login-header h1 {
              font-weight: normal;
              border-bottom: 1px solid black;
              padding-bottom: 15px;
              width: 70%; }
